@{
    ViewData["Title"] = "Home Page";
}
@model List<TranslationRecord>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table" id="table1">
    <thead>
        <tr>
            <th>Language</th>
            <th>TextToTranslate</th>
            <th>TranslationResult</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextToTranslate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranslationResult)
                </td>
                <td>
                    <a class="btn btn-primary btn_modal" role="button"
                   href="#modal-1" data-bs-toggle="modal" data-id="@item.Id">⚙İşlemler⚙</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table1').dataTable({});
        });

    </script>
}